In [ ]:
print("stelios")
print(5)
print("number is", 6.6)
print (3+12)

stelios
5
number is 6.6
15

In [ ]:
input("enter a name")
input("enter a city")

enter a namerose
enter a citylondon

'london'

# Nouvelle section

In [ ]:
name = input("enter your name: ")
city = input("enter a city: ")
print ("hello", name, "from", city)

enter your name: rose
enter a city: london
hello rose  from london

In [ ]:
x = 10
print (x+3)

13

Exercice:
Ask the user to enter their name, tel number and city.
Print in the following form:
Stelios from paris, tel is: 3435361

In [ ]:
name = input("enter your name")
city = input("enter your city")
tel = input("enter your number")

print(name,"from",city,",tel is", tel)

enter your namerose
enter your citylondon
enter your number9876
rose from london ,tel is 9876

In [ ]:
print("rose","+1")
print("rose"+"1")
print("rose"*3)

rose +1
rose1
roseroserose

In [ ]:
age = input("how old are you?")
print(age)
print(age*2)

how old are you?18
18
1818

In [ ]:
age = int(input("how old are you "))
print(age*3)

how old are you 19
57

Exercice 2:

Ask the user to give you 2 numbers, one after the other
Print the addition of numbers

5
6
11

In [ ]:
x= int(input("enter a number"))
y= int(input("enter a number"))
print(x+y)

enter a number3
enter a number4
7

In [ ]:
x= float(input("enter a number"))
y= float(input("enter a number"))
print(x+y)

enter a number4
enter a number5.5
9.5

In [ ]:
x=10
y=0
if y==0:
  print("I cannot divide by 0")
else:
  print(x/y)

I cannot divide by 0

Ask the user to enter 2 integer numbers
Print the larget number
"max is "

In [ ]:
x=int(input("enter a number"))
y=int(input("enter a number"))
if x>y:
  print("Max is", x)
else:
  print("Max is", y)

enter a number2
enter a number4
Max is 4

In [ ]:
x=int(input("enter a number:"))
if x>0:
  print("positive")
elif x==0:
  print("Zero")
else:
  print("negative")

enter a number:-4
negative

In [ ]:
x=int(input("enter a number:"))
if x>=0 and x<10:
  print("number between 0 and 10")
else:
  print("something else")

enter a number:0
number between 0 and 10

In [ ]:
score=int(input("enter a number"))
if score>=0 and score<10:
  print("fail")
elif score>=10 and score<15:
  print("pass")
elif score>10 and score<20:
  print("distinction")
else:
  print("error")@

enter a number19
distinction

In [ ]:
num1=float(input("enter a number:"))
num2=float(input("enter a number:"))
operation=input("enter a sign(+,-,*,/,**,>,<):")
if operation=="+":
  print(num1+num2)
elif operation=="-":
  print(num1-num2)
elif operation=="*":
  print(num1*num2)
elif operation=="**":
  print(num1**num2)
elif operation=="/":
  print(num1/num2)
elif operation==">" and num1>num2:
  print(num1)
elif operation=="<" and num1<num2:
  print(num2)
else:
  print("i do not support this yet!")

enter a number:7
enter a number:8
enter a sign(+,-,*,/,**,>,<):>
i do not support this yet!